/*Universal format*/

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  font-weight: bold;
  line-height: 2rem;
  margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*Company logo*/
.company {
    background-color: black;
    color: white;
    font-size: 1rem;
}

.company .container {
    display: flex;
    align-items: center;
    padding: 0.66rem 0;
}

.company img {
    height: 1.5rem;
    padding: 0.66rem 1rem 0.66rem 0.5rem;
}

/* Main banner format*/
.main-banner {
    background: url(../images/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.headline {
    background-color: black;
    color: white;
    width: 20rem;
    height: auto;
    position: relative;
    top: 9rem;
    padding: 2rem 3rem;
}

.headline h4 {
    font-size: 1rem;
}

.headline h1 {
  font-size: 2rem;
  margin: .25rem 0;
}

/* Navigation format */
nav {
  color: white;
  background-color: firebrick;
  padding: .75rem 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Products formating */

.products {
  display: flex;
  justify-content: space-between;
}

.product {
  margin: 3rem 0;
  border: 4px solid black;
  width: 30%;
  height: auto;
}

.product-image {
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 9rem;
  max-height: 9rem;
}

.products .description {
  display: block;
  text-align: center;
  padding: .5rem 0;
  background-color: black;
  color: white;
}

/*Business info formating*/

.business-info {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/*footer format*/

footer {
  background-color: black;
  color: white;
  height: 5rem;
  padding: 2.5rem 0;
}

/*Media formats*/
