/*Universal format*/
html {
    font-size: 18px;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.4em;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1, h4 {
    font-weight: bold;
}

/*Company logo*/
.company {
    background-color: black;
    color: white;
}

.company .container {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 0.5em;
}

.company img {
    height: 1.5em;
    padding-right: 15px;
}

/* Main banner format*/
.main-banner {
    background: url(../images/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25em;
}

.headline {
    background-color: black;
    color: white;
    width: 20em;
    padding: 2em 3em;
    position: relative;
    top: 9em;
}

.headline h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0.25em 0;
}

/* Navigation format */
nav {
    background-color: firebrick;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em 0;
}
